*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.header{
    width: 100vw;
    height: 5vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.logo{
    height: 5vw;
    width: 5vw;
    display: flex;
}

.pesquisa{
    display: flex;
    margin-top: 1vw;
    height: 3vw;
    width: 30vw;
    border-radius: 4px;
    text-indent: 30px;
}


ul{
    width: 100vw;
    height: 200vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}


.foto{
    display: flex;
    width: 20vw;
    height: 15vw;
}

.search{
    position: relative;
}

.search .fa-search{
    position: absolute;
    left: 9px;
    top: 25px;
}

li {
    float: left;
  }

  li {
    float: left;
  }

input{
    background: url(imagens/lupa.png) no-repeat right;
}

input:focus{
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.left{
    display: flex;
    justify-content: start;
}

.right{
    display: flex;
    justify-content: end;
}

.menu{
    display: flex;
}

.menu-btn{
    width: 100vw;
    height:3vw;
    flex-direction: row;
    justify-content: space-between
}

.btn-style{
    background-color: whitesmoke;
    padding: 1vw 1vw;
    width: 10vw;
    text-align: center;
    border-radius: 1vw;
    border-color: white
}

hr {
    border-top: 1vw dottedb black;
  }

a{
    display: flex;
    padding: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    text-decoration: none;
}

a:hover{
    border-bottom: 2px solid grey;
}

.lista_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container{
    display: flex;
    margin: 5px;
    margin-bottom: 30px;
    flex-direction: column;
    flex: 1 1 180px;
}

.tipo{
    color: gray;
    font-family: sans-serif;
}



@media screen and (max-width: 1170px){
    .search .fa-search{
        left: 9px;
        top: 20px;
        font-size: 15px;
    }

    .pesquisa{
        text-indent: 27px;
    }
}

@media screen and (max-width: 1000px){
    .search .fa-search{
        left: 9px;
        top: 19px;
        font-size: 12px;
    }

    .pesquisa{
        text-indent: 22px;
    }
}

@media screen and (max-width: 900px) {
    .container h2{
        font-size: 12px;
    }

    a{
        font-size: 12px;
    }


}

@media screen and (max-width: 875px){
    .search .fa-search{
        left: 9px;
        top: 16px;
        font-size: 10px;
    }

    .pesquisa{
        text-indent: 20px;
    }
}

@media screen and (max-width: 750px){
    .search .fa-search{
        left: 9px;
        top: 14px;
        font-size: 8px;
    }

    .pesquisa{
        text-indent: 19px;
    }
}

@media screen and (max-width: 635px){
    .search .fa-search{
        left: 9px;
        top: 12px;
        font-size: 6px;
    }

    .pesquisa{
        text-indent: 18px;
    }
}

@media screen and (max-width: 525px){
    .search .fa-search{
        left: 9px;
        top: 10px;
        font-size: 5px;
    }

    .pesquisa{
        text-indent: 15px;
    }
}
